<div>
  <ul class="breadcrumb">
    <li>Dashboard</li>
        <li><%= link_to 'Home',dashboard_home_index_path%></li>
            <li><%= link_to 'Inventories',inventories_path%></li>
  </ul>
</div>

 <div class="col-md-12 section-top-15 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="0.2s">
       <div class="panel panel-primary">
            <div class="panel-heading">Inventory Search
        </div>
 <div class="panel-body">
<p id="notice"></p>

<%= form_for :inventory, method: :get,remote:true,id: 'search' do |f|%>
    <b>Search:</b>
      <br>
      <%= text_field_tag :search,"",placeholder:'Search',class:"form-control",style: "width: 300px"%>
<% end %>

<div id="search_inventory">
  <%= render 'search_all'%>
</div>

<script type='text/javascript'>
$('#search').on('change', function() {
 var search;
 Item = $(this).val();
 $.ajax({
   url: '/inventories/search_inventory',
   type: 'GET',
   dataType: 'script',
   data: {search: Item},
   }).done(function(data) {
     $('#search').html(data);
    
   
 });
});
</script>