<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path%></li>
    <li>Dashboard</li>
  </ul>
</div>

</div>
  <div class="col-sm-4 col-sm-offset-1">
       <h3>Total Transfers Per Day: = <%= @transfers.count%></h3>
      <%= line_chart Transfer.group_by_day_of_week(:created_at, format: "%a").count %>
</div>
</div>


 <div class="col-sm-4 col-sm-offset-1">
    <h3>Total Inventory Type InventoryItems: = <%= InventoryType.all.count%></h3>
<%= bar_chart InventoryType.all.map { |goal|
    {name: goal.name, data: goal.inventories.group_by_week(:created_at).count}
} %>
</div>
</div>

<br><br>

<div class="col-sm-4 col-sm-offset-1">
 
    <%= line_chart CustomerDetail.group_by_day(:date, last: 12, current: false).sum('customer_details.estimated_cost') ,
    title: 'Daily Estimated Cost Per Day.',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
            
           }
       },
          tooltip: {
            pointFormat: 'Total Estimated Cost: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: 'Rs'
          }
        }%>
</div>