<div class="col-md-12 section-top-15 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="0.2s">
       <div class="panel panel-primary">
            <div class="panel-heading">View All Customers Complaints Details
        </div>
            <div class="panel-body">
            <%=link_to 'Back', report_customer_details_path%>
              <%= link_to 'Download Report', show_transactions_list_customer_details_path(start_date:@start_date,end_date:@end_date,status:@status,format:"pdf"),target: '_blank' %>
             <p id="notice"><%= notice %></p>
          
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Bill No</th>
                    <th>Customer name</th>
                    <th>Date</th>
                    <th>Customer no</th>
                    <th>Mobile no</th>
                    <th>Model name</th>
                    <th>Accessory</th>
                    <th>Engineer Name</th>
                    <!-- th>Estimate Cost</th> -->
                    <th>Advanced Paid</th>
                    <!-- <th>Balance Cost</th> -->
                    <th>Status</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% @customer_details.each do |customer_detail| %>
                    <tr>
                    <% if customer_detail.status == 'Pending' && @status == 'Pending'%>
                      <td><%= customer_detail.bill_no %></td>
                      <td><%= customer_detail.customer_name %></td>
                      <td><%= customer_detail.date %></td>
                      <td><%= customer_detail.customer_no %></td>
                      <td><%= customer_detail.mobile_no %></td>
                      <td><%= customer_detail.model_name %></td>
                      <td><%= customer_detail.accessory %></td>
                      <td><%= customer_detail.employee.first_name if customer_detail.employee %></td>
                     <!--  <td><%= customer_detail.estimated_cost%></td> -->
                      <td><%= customer_detail.advanced_paid %></td>
                      <!-- <td><%= customer_detail.balance_cost%></td> -->
                      <td><%= customer_detail.status%></td>
                    </tr>
                  <% end %>
                  <% if customer_detail.status == 'Work-Done' && @status == 'Work-Done' %>
                      <td><%= customer_detail.bill_no %></td>
                      <td><%= customer_detail.customer_name %></td>
                      <td><%= customer_detail.date %></td>
                      <td><%= customer_detail.customer_no %></td>
                      <td><%= customer_detail.mobile_no %></td>
                      <td><%= customer_detail.model_name %></td>
                      <td><%= customer_detail.accessory %></td>
                      <td><%= customer_detail.employee.first_name if customer_detail.employee %></td>
                     <!--  <td><%= customer_detail.estimated_cost%></td> -->
                      <td><%= customer_detail.advanced_paid %></td>
                      <!-- <td><%= customer_detail.balance_cost%></td> -->
                      <td><%= customer_detail.status%></td>
                    </tr>
                  <% end %>
                  <% if customer_detail.status == 'Good Delivered' && @status == 'Good Delivered' %>
                      <td><%= customer_detail.bill_no %></td>
                      <td><%= customer_detail.customer_name %></td>
                      <td><%= customer_detail.date %></td>
                      <td><%= customer_detail.customer_no %></td>
                      <td><%= customer_detail.mobile_no %></td>
                      <td><%= customer_detail.model_name %></td>
                      <td><%= customer_detail.accessory %></td>
                      <td><%= customer_detail.employee.first_name if customer_detail.employee %></td>
                     <!--  <td><%= customer_detail.estimated_cost%></td> -->
                      <td><%= customer_detail.advanced_paid %></td>
                      <!-- <td><%= customer_detail.balance_cost%></td> -->
                      <td><%= customer_detail.status%></td>
                    </tr>
                  <% end %>
                     <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
                  
           




