<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path%></li>
    <li><%= link_to 'Employee Types',employee_types_path%></li>
    <li>Dashboard</li>
  </ul>
</div>

 <div class="col-md-12 section-top-15 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="0.2s">
       <div class="panel panel-primary">
            <div class="panel-heading">Employees Type Details
        </div>
 <div class="panel-body">
 <p id="notice"><%= notice %></p>
<%= link_to "Add New Employee Type",new_employee_type_path%>
 <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                         <th>Action</th>
                                        <th colspan="5"></th>
                                    </tr>
                                 </thead>

                                  <tbody>
                                    <% @employee_types.each do |employee_type| %>
                                        <tr>
                                          <td><%= employee_type.name %></td>
                                          <td><%= link_to 'Show', employee_type, class: "btn btn-success btn-sm" %></td>
                                          <td><%= link_to 'Edit', edit_employee_type_path(employee_type), class: "btn btn-danger btn-sm" %></td>
                                          <td><%= link_to 'Destroy', employee_type, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-warning btn-sm" %></td>
                                        </tr>
                                    <% end %>
                                 </tbody>
</table>
</div>
</div>
</div>
