<%= render 'layouts/nav'%>
<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path%></li>
    <li>Dashboard</li>
  </ul>
</div>
<p id="notice"><%= notice %></p>

<div class="col-md-12 section-top-5 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="0.2s">
        <div class="panel panel-primary">
            <div class="panel-heading">Employee Detail
        </div>
<p id="notice"><%= notice %></p>

<div class="panel-body">
              <div class="row form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
             
  <strong>Name:</strong>
  <%= @employee_type.name %>
</div>
<%= link_to 'Edit', edit_employee_type_path(@employee_type) %> |
<%= link_to 'Back', employee_types_path %>
</div>
</div></div></div>