<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Inventory Transfer</li>
  </ul>
</div>

<br/>

<%=form_for :transfer, :url => {:action=> 'inventory_transfer'},method: :get do |f| %>
<div class="row">
    <div class="col-md-6">
      <b>Transfering student from </b> <%= @batch.full_name %> &nbsp;<b>To</b> 
    </div>
    <div class="col-md-6">      
      <%= f.hidden_field :inventory_type_id, value: @inventory_type.id%>
      <%= f.select :id,InventoryType.all.collect{|i| [i.name, i.id]},prompt:'Select a Inventory Type',class: "form-control"%>
    </div>
</div>   
<hr>
<div class="row" align="right" style="margin-right:20px">
  <%= link_to "Assign All",assign_all_inventory_transfers_path(@inventory),remote:true, class: 'btn btn-primary-link btn-xs'%>
  <%= link_to "Remove All",remove_all_inventory_transfers_path(@inventory),remote:true, class: 'btn btn-primary-link btn-xs' %>
</div>
<div id="inventory_list">
    <%= render 'inventory_list' %>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-5">
    <%= f.submit "Transfer Inventory", class: 'btn btn-success'%>
  </div>
</div>
<% end %>


 