<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Inventory Transfer</li>
  </ul>
</div>

<div class="col-md-12 section-top-15 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="0.2s">
        <div class="panel panel-primary">
            <div class="panel-heading">Inventory
        </div>
<%=form_for :transfer, :url => {:action=> 'inventory_transfer'},method: :get do |f| %>
<div class="row">
    <div class="col-md-6">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Transfering inventory from </b> <%= @inventory_type.name %> &nbsp;<b>To</b> 
    </div>
    <div class="col-md-6">      
      <%= f.hidden_field :inventory_type_id, value: @inventory_type.id%>
      <%= f.select :id,InventoryType.all.collect{|i| [i.name, i.id]},prompt:'Select a Inventory Type',class: "a-action"%>
    </div>
</div>   

<div class="row" align="right" style="margin-right:20px">
  <%= link_to "Assign All",assign_all_inventory_transfers_path(@inventory_type),remote:true, class: 'btn btn-primary-link btn-xs'%>
  <%= link_to "Remove All",remove_all_inventory_transfers_path(@inventory_type),remote:true, class: 'btn btn-primary-link btn-xs' %>
</div>
<div id="inventory_list">
    <%= render 'inventory_list' %>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-5">
    <%= f.submit "Transfer Inventory", class: 'btn btn-danger'%>
  </div>
</div>
<% end %>

</div></div>
 